# Python ignores

__pycache__/
*__pycache__

# References
*matlab

# Images
images/*
/Advanced/exercise6/images/*
/Basics/exercise1/images/*
# C extensions
*.so

# Distribution / packaging
.Python
*.vscode

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Matlab ignores
*.m~

# Windows default autosave extension
*.asv

# Compiled MEX binaries (all platforms)
*.mex*

# Simulink Code Generation
slprj/

# Session info
octave-workspace

# Simulink autosave extension
*.autosave

# Local files:
*resources/